
label {
    font-weight: bold;
    font-size: 13px;
}

.buttons-container {
    margin: 0 auto;
    text-align: center;
}

.updated-date {
    white-space: nowrap;
}

.project-info {
    
        min-width: 100%;
    
}

.placeholder {
    opacity: 0.3;
}

.invisible {
    visibility: hidden;
    display: none;
}

.fa-bars:before{
    
    cursor: pointer;
}
